@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
 
 :root {
     --bgColor : black ;
     --fontColor : #FCA311 ; 
     --cumplimentColor: #14213D ;
     --detailColor: #E5E5E5;
     --otherColor: white ;
     --rgbaColor : rgba(138, 134, 134, 0.7);
     --turquesa : turquoise;
 }

*{

    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
}
.screen {
    position: relative ;
    z-index: 10000000000000000;
    background: transparent ;
    width: 100%;
    min-height: 100vh ;
    background: transparent;   
}
.info {
    position: relative ;
    width: 100% ;
    height: 80px ;  
}
.brand{
    display: flex ;
    width: 400px ;
    justify-content: center;
    align-items: center ;
    top: 5px;
}
.img {
    position: relative;
    width: 70px ;
    height: 70px ;
    background-image: url(LogoMain.png);
    background-size: cover ;
    margin-right: 10px ;

}
.pokeroi {
    color: var(--otherColor);
    text-transform: uppercase;
}

.Bx {
    position: relative ;
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr ));
    top: 60px;
}
.Bx1 {
    position: relative ;
    display: flex ;
    align-items: center ;
    justify-content: center;  
}
.Bx1 h1 {
    color: var(--otherColor);
}
.Bx2 {
    position: relative ;

}
.header {
    width: 100% ;
    min-height: 20px ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    margin-bottom: 25px;
}
h2{
    color: var(--fontColor);
    position: relative;
    font-size: 1.5em ;
   
}
.submit {
    position: relative ;
    width: 100% ;
    display: grid ;
    align-items: center ;
    justify-content: center ;
}
.criptoBX {
    position: relative ;
    width: 100% ;
    min-height: 50px;
    display: flex ;
    align-items: center ;
    justify-content: center; 
    
}
.Container {
    position: relative ;
    border-radius: 20px;
    width: 400px ;
    min-height: 250px ;
    overflow: hidden;
    background: var(--bgColor);
    border: 1px solid var(--rgbaColor);
    border-left: 1px solid  var(--rgbaColor);
    
}
.selectContainer {
    display: flex ;
    align-items: center ;
    justify-content: left ;
}
.inputBx {
    position: relative ;
    width: 250px ;
    height: 100%;
    
}
.inputBx input {
    position: relative;
    width: 100% ;
    padding: 10px ;
    border: 1px solid rgba(255,255,255,0.25);
    background: var(--bgColor);
    border-radius: 5px ;
    color: #fff ;
    font-size: 1em ;
    outline: none;
}
.inputBx span {
    position: absolute ; 
    left: 0 ;
    padding: 10px ;
    pointer-events: none ;
    font-size: 1em ;
    color: rgba(255,255,255,0.25) ;
    transition: 0.5s ;
}
.inputBx input:valid ~ span,
.inputBx input:focus ~ span {
    color: var(--fontColor);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em ;
    padding: 0 10px ;
    background: black;
    border-left: 1px solid var(--fontColor);
    border-right: 1px solid var(--fontColor);
    letter-spacing: 0.2em ;
}
.inputBx input:valid,
.inputBx input:focus {
    border: 2px solid var(--fontColor) ;
}

.RMAI, .PKR {
    display: flex ;
    align-items: center ;
    justify-content: center ;
    margin: 20px;
}

.submit input
{
    position: relative;
    background: var(--fontColor);
    color: var(--otherColor) ;
    max-width: 150px ;
    padding: 8px;
    text-transform: uppercase ;
    letter-spacing: 2px ;
    font-weight: 500;
    border-radius: 10px;
    margin: 20px ;
    font-weight: bolder;

}
.buttom {
    position: relative;
    width: 100%;
    display: flex ;
    align-items: center ;
    justify-content: center;
    
}
.margin {
    height: 100px ;
    width: 100%;
}

.stats{
    position: relative;
    width: 100% ;
    min-height: 150px ;
    display: flex ;
    align-items: center ;
    justify-content: center;
    
    
}
.statsBx {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr ));
    grid-gap: 10px;
    min-height: 150px ;
}
.stat{
    position: relative ;
    color: var(--fontColor);
    width: 150px ;
    height: 150px ; 
    border-radius: 50% ;
    border: 2px dashed var(--fontColor);
    transition: 0.2s;
}

.number {
    font-size: 2.5em ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    margin-top: 10px ;
    
}
.cont {
    display: flex ;
    align-items: center ;
    justify-content: center ;
    color: var(--otherColor);
    margin-top: 10px ;
   
}

.body{
    min-height: 100vh;
    width: 100% ;
    background: black ;
    position: relative;
    overflow: hidden;
}
.bubbles{
    position: absolute ;
    width: 100% ;
    height: 100%;
    display: flex ;
    z-index: 10;  
    
}
.bubbles span {
    position: relative ;
    width: 20px ;
    height: 20px ;
    background: turquoise ;
    margin: 0 4px ;
    border-radius: 50% ;
    box-shadow: 0 0 0 10px #4fc3dc44 ,
    0 0 50px turquoise ,
    0 0 10px turquoise;
    animation: animate 15s linear infinite ;
    animation-duration: calc(125s / var(--i));

}
.bubbles span:nth-child(even){
    background: #ff2d7f ;
    box-shadow: 0 0 0 10px #8f083c  ,
    0 0 50px #ff2d7f  ,
    0 0 10px #ff2d7f ;
}

@keyframes animate {
    0% {
        transform: translateY(200vh) scale(1);
    }
    50%{
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
    
